.drag-item,
.stack-item {
  box-sizing: border-box;
  display: inline-block;
  min-height: 44px;
  margin: 0 10 10 0;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: $c-white;
  background-color: $c-white;
  padding: 10px;
  line-height: 18px;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
}

drag-item {
  &:hover {
    cursor: pointer; /* fallback if grab does not work */
    cursor: grab;
  }
  &:active {
    cursor: all-scroll; /* fallback if grabbing does not work */
    cursor: grabbing;
  }
}

/* itemType: 0 */

.drag-item-type-0 {
  border-color: $c-gray-400;
  background-color: $c-white;
  &:hover {
    border-color: $c-gray-500;
    background-color: $c-gray-100;
  }
  &:active {
    border-color: gray-300;
    background-color: $c-white;
  }
}

.stack-item-type-0 {
  border-color: $c-gray-400;
  background-color: $c-gray-100;
}

/* itemType: 1 */

.drag-item-type-1 {
  border-color: $c-steel-blue-500;
  background-color: $c-steel-blue-200;
  &:hover {
    border-color: $c-steel-blue-600;
    background-color: $c-steel-blue-300;
  }
  &:active {
    border-color: $c-steel-blue-400;
    background-color: $c-steel-blue-100;
  }
}

.stack-item-type-1 {
  border-color: $c-steel-blue-500;
  background-color: $c-steel-blue-300;
}

/* itemType: 2 */

.drag-item-type-2 {
  border-color: $c-orange-500;
  background-color: $c-orange-200;
  &:hover {
    border-color: $c-orange-600;
    background-color: $c-orange-300;
  }
  &:active {
    border-color: $c-orange-400;
    background-color: $c-orange-100;
  }
}

.stack-item-type-2 {
  border-color: $c-orange-500;
  background-color: $c-orange-300;
}

/*
itemType: 3
item-border: petrol-500
item-background: petrol-200 
item-grabbed-border: petrol-400
item-grabbed-background: petrol-100
covered-stacked-item-background: petrol-400

itemType: 4
item-border: blue-700
item-background: blue-400 
item-grabbed-border: blue-600
item-grabbed-background: blue-300
covered-stacked-item-background: blue-500

itemType: 5
item-border: purple-500
item-background: purple-200 
item-grabbed-border: purple-400
item-grabbed-background: purple-100
covered-stacked-item-background: purple-400

itemType: 6
item-border: green-500
item-background: green-200 
item-grabbed-border: green-400
item-grabbed-background: green-100
covered-stacked-item-background: green-400

itemType: 7
item-border: pink-500
item-background: pink-200 
item-grabbed-border: pink-400
item-grabbed-background: pink-100
covered-stacked-item-background: pink-400

itemType: 8
item-border: gray-500
item-background: gray-200 
item-grabbed-border: gray-400
item-grabbed-background: gray-100
covered-stacked-item-background: gray-400

itemType: 9
item-border: gray-600
item-background: gray-400 
item-grabbed-border: gray-500
item-grabbed-background: gray-300
covered-stacked-item-background: gray-500
*/
